html, body {
  max-width: 100%;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, p, a {
  font-family: 'Gantari', sans-serif;

}

.header {
  background-color: #ffede7;
}

.men-container {
  margin-left: 10%;
  
}

.men-container a {
  font-size: 30px;
}







@media only screen and (max-width: 1024px) {
    p {
      font-size: 1.2em;
    }
  }
  

  
/* Mega Menu Start */ 




.navbar-row {
  background-color: #ffede7;
 
}

.navbar {
  background-color: #ffede7;
  
}


li {
  list-style-type: none;
  
}


/*navbutton*/


li a {
  font-size: 14px;
  color: black;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

li a:focus,
li a:hover {
  color: #8f4b3c;
}

li a:focus:after,
li a:hover:after {
  width: 100%;
  left: 0%;
}

li a:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #8f4b3c;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}




/* Mega Menu End */ 

/*slideshow Start*/






html body .heading {
  text-align: center;
  color: #2e5266;
  margin-bottom: 3rem;
}

html body .heading h1 { margin-bottom: 0; }

html body .heading h6 { margin: 0; }

html body .heading p { margin: 0; }

html body .heading a {
  color: #2e5266;
  display: inline-block;
}

html body .heading a .fab {
  margin-right: 0.5rem;
  font-size: 1.5rem;
  padding: 0.5rem;
  margin-top: 0.5rem;
}

.card-carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.card-carousel .my-card {
  width: 600px;
  position: relative;
  z-index: 1;
  -webkit-transform: scale(0.6) translateY(-2rem);
  transform: scale(0.6) translateY(-2rem);
  opacity: 0;
  cursor: pointer;
  pointer-events: none;
  background: #2e5266;
  background: linear-gradient(to top, #2e5266, #6e8898);
  transition: 1s;
}
.card-carousel .my-card img{
    width: 350px;
    height: 450px;
    object-fit: cover;
}

.card-carousel .my-card:after {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  border-radius: 100%;
  
  bottom: -5rem;
  -webkit-filter: blur(4px);
  filter: blur(4px);
}

.card-carousel .my-card:nth-child(0):before {
 
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  font-size: 3rem;
  font-weight: 300;
  color: #fff;
}

.card-carousel .my-card:nth-child(1):before {
  
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  font-size: 3rem;
  font-weight: 300;
  color: #fff;
}

.card-carousel .my-card:nth-child(2):before {
  
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  font-size: 3rem;
  font-weight: 300;
  color: #fff;
}

.card-carousel .my-card:nth-child(3):before {
  
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  font-size: 3rem;
  font-weight: 300;
  color: #fff;
}

.card-carousel .my-card:nth-child(4):before {
  
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  font-size: 3rem;
  font-weight: 300;
  color: #fff;
}

.card-carousel .my-card:nth-child(5):before {
  
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  font-size: 3rem;
  font-weight: 300;
  color: #fff;
}

.card-carousel .my-card:nth-child(6):before {
  
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  font-size: 3rem;
  font-weight: 300;
  color: #fff;
}

.card-carousel .my-card:nth-child(7):before {
  
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  font-size: 3rem;
  font-weight: 300;
  color: #fff;
}

.card-carousel .my-card:nth-child(8):before {
  
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  font-size: 3rem;
  font-weight: 300;
  color: #fff;
}

.card-carousel .my-card:nth-child(9):before {
  
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  font-size: 3rem;
  font-weight: 300;
  color: #fff;
}

.card-carousel .my-card.active {
  z-index: 3;
  -webkit-transform: scale(1) translateY(0) translateX(0);
  transform: scale(1) translateY(0) translateX(0);
  opacity: 1;
  pointer-events: auto;
  transition: 1s;
}

.card-carousel .my-card.prev, .card-carousel .my-card.next {
  z-index: 2;
  -webkit-transform: scale(0.8) translateY(-1rem) translateX(0);
  transform: scale(0.8) translateY(-1rem) translateX(0);
  opacity: 0.6;
  pointer-events: auto;
  transition: 1s;
}

/*slideshow End*/



.new-in-text {
  font-family: 'Playfair Display', serif;
  font-size: 50px;
}





.season-container {
  background-color: #9f3341;
}

.season-header {
  color: white;
  font-size: 60px;
  font-family: 'Playfair Display', serif;
  
}

.season-background {
  background-image: url("../img/flower-bg.jpg");

}

.season-card-container {
  background-color: #ca8895;
  width: 70%;
  
}

.season-card-container .card-body{
  padding-left: 5px;
  padding-top: 4px;
}

.season-card-container .card {
  background-color: #ca8895;
}




.card-title, .card-text {
  color: white;
}



/*shop now*/


.cta {
  border: none;
  background: none;
}

.cta span {
  padding-bottom: 7px;
  letter-spacing: 4px;
  font-size: 14px;
  padding-right: 15px;
  text-transform: uppercase;
}

.cta svg {
  transform: translateX(-8px);
  transition: all 0.3s ease;
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active svg {
  transform: scale(0.9);
}

.hover-underline-animation {
  position: relative;
  color: black;
  padding-bottom: 20px;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.cta:hover .hover-underline-animation:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}


/*shopnow*/

 
.login-bg {
  background-image: url("../img/plants-bg.jpg");
  height: 600px;
  padding: 150px;
}

.login-container {
position: relative;
height: 300px;
align-items: center;
background-color: white;
border-radius: 8px;
}

.login-container p {
  display: flex;
  height: 50%;
  width: 50%;
  align-items: center;
  justify-content: center;
  margin: auto;
  
}

.login-button {
  border-radius: 10px;
  width: 160px;
  border: none;
  background-color: #330000;
  color: white;
  padding: 15px;
}

.login-button:hover {
  background-color: #633939;
}

.styles-header {
  color: white;
  font-size: 60px;
  font-family: 'Playfair Display', serif;
}

.styles-background {
  background-image: url("../img/purple-bg.jpg");
}

.styles-card-container {
  background-color:  #3f6284;
  width: 70%;
  font-size: 14px;
}
.styles-card-container .card {
  background-color: #3f6284;
}

.styles-span {
  color: white;
}

.styles-button-container .btn{
  border: none;
  background: #CD9B9B;
}

.styles-button-container .btn:hover{
  border: none;
  background: #c68484;
}

.styles-card {
  
  transform: scale(1);
  transition: transform .5s;
}

.styles-card:hover {
  transform: scale(1.08);
}



.styles-buttons {
  border-radius: 10px;
}

.styles-span {
  font-family: 'Gantari', sans-serif;
}

.styles-card-container h6 {
  color: white;
}

.styles-card-container h4 {
  color: white;
}

.styles-card-container .card-body {
  padding-left: 0;
  padding-top: 25px;
}

.fa-arrow-right {
  margin-left: 10px;
}

.other-styles:hover{
  color: rgb(222, 221, 221);
}


.accessories-bg {
  
 border: none;
}




 

.accessories-bg .card-body {
    background-color: #d8c0c0;
    border-radius: 8px;
    
    flex: none;
}


.showcase-acc .card {
  width: 190px;
  height: 254px;
  border-radius: 20px;
  background: #ffede7;
  position: relative;
  padding: 1.8rem;
  border: 2px solid #ffede7;
  transition: 0.5s ease-out;
  overflow: visible;
  margin: 0 auto;
  float: none; 
  margin-bottom: 10px; 
 }
 
 .showcase-acc .card-details {
  color: black;
  height: 100%;
  gap: .5em;
  display: grid;
  place-content: center;
 }
 
 .showcase-acc .card-button {
  transform: translate(-50%, 125%);
  width: 60%;
  border-radius: 1rem;
  border: none;
  background-color: #8f4b3c;
  color: #fff;
  font-size: 1rem;
  padding: .5rem 1rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 0;
  transition: 0.3s ease-out;
 }
 
 .showcase-acc .text-body {
  color: rgb(134, 134, 134);
 }
 
 /*Text*/
 .showcase-acc .text-title {
  font-size: 1.5em;
  font-weight: bold;
 }
 
 /*Hover*/
 .showcase-acc .card:hover {
  border-color: #8f4b3c;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
 }
 
 .showcase-acc .card:hover .card-button {
  transform: translate(-50%, 50%);
  opacity: 1;
 }
 

.showcase-acc img {
  border-radius: 20px;
}




/* allclothes site */

.categories-container {
  
}

.categories-container a {
  margin-bottom: 0;
  font-size: 14px;
  text-decoration: none;
  color: black;
}

.categories-container h4 {
  font-size: 20px;
}

.filter-container {
 
  display: flex;
  
}

.filter-container .dropdown {
  float: right;
  margin: 0 10px;
}

.filter-container .dropdown-item {
  float: none;
  
}

.clothing-header {
  
}

.clothing-header h2 {
  font-family: 'Playfair Display', serif;
  font-size: 50px;
}

.clothing-header p {
  
  font-size: 20px;
}






/* item info site */


.info-container {
  position: relative;
}

.info-container .price-box{
  display: flex;
  word-break: break-word;
}

.info-container h2 {
  font-family: 'Playfair Display', serif;
  font-size: 60px;
}

.info-container h4 {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}

.item-container img {
  max-width: 100%;  
  height: auto;  
}

.btn-xl {
  width: 300px; 
  height: 70px;
}

.cart-button button {
  outline: none;
  cursor: pointer;
  border: none;
  padding: 0.9rem 2rem;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  position: relative;
  display: inline-block;
  letter-spacing: 0.05rem;
  font-weight: 700;
  font-size: 20px;
  border-radius: 500px;
  overflow: hidden;
  background:#efd3c3;
  color: ghostwhite;
 }
 
 .cart-button button span {
  position: relative;
  z-index: 10;
  transition: color 0.4s;
 }
 
 .cart-button button:hover span {
  color: black;
 }
 
 .cart-button button::before,
 button::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
 }
 
 .cart-button button::before {
  content: "";
  background: #000;
  width: 120%;
  left: -10%;
  transform: skew(30deg);
  transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
 }
 
 .cart-button button:hover::before {
  transform: translate3d(100%, 0, 0);
 }
 